# Ignore everything
*

# Allow specific folders and files
!hypr/
!kitty/
!rofi/
!scripts/
!waybar/
!fish/
!hyfetch.json
!.gitignore

# Allow contents of the folders
!hypr/**
!kitty/**
!rofi/**
!scripts/**
!waybar/**
!fish/**
